body,
html {
    margin: 0;
}

.nav-row {
    width: 100%;
    background-color: #333;
    padding: 5px 0px 10px 0px;
}

.nav-h1 {
    color: #c0bab6;
    font-size: 36px;
    margin: 0px;
}

.nav-p {
    color: #c0bab6;
    font-size: 13px;
    margin: 0px;
}

.nav-gap {
    width: 80%;
    margin: auto;
}

.nav-table {
    width: 80%;
    background-color: #232323;
    margin: auto;
}

.list-h4 {
    color: #c0bab6;
    font-size: 13px;
    margin: 0px;
}

.second-table {
    width: 80%;
    margin: auto;
}

.third-table {
    width: 100%;
    margin: 0;
    background-color: #232323;
}

.bg-title {
    width: 290px;
    height: 260px;
    padding: 20px;
    background-color: #464646;
    margin: 0px;
}

.title-h2 {
    color: #989898;
    font-size: 42px;
    font-weight: 400;
    font-style: italic;
    margin: 0px;
}

.title-p {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0px;
}

.second-table {
    border: none;
    padding: 20px 0px;
}

.box-color {
    background-color: #333333;
}

.part-table {
    width: 50%;
}

.part-doc {
    width: 50%;
}

.third-h2 {
    color: #979797;
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
}

.third-p {
    color: #979797;
    font-size: 15px;
    font-weight: 500;
    padding-right: 50px;
}

.third-paragraph {
    color: #979797;
    font-size: 15px;
    font-weight: 500;
    padding-right: 50px;
}

.short-p {
    color: #ff9900;
    font-size: 15px;
    font-weight: 700;
}

.box-2 {
    padding-right: 20px;
}

.first-block {
    width: 27%;
    padding: 0px 20px;
}

.blog-h2 {
    color: #979797;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.post-h2 {
    color: #979797;
    font-size: 13px;
    font-weight: 700;
}

.small-p {
    color: #979797;
    font-size: 13px;
    font-weight: 500;
}

.blog-p {
    color: #979797;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.little-p {
    color: #ff9900;
    font-size: 15px;
    font-weight: 500;
}

.about-p {
    color: #979797;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
}

.footer-p {
    color: #919191;
    font-size: 15px;
    font-weight: 500;
}