doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        style.
             body,html{
                 margin:0;
                } 
            .nav-row{
                      width:100%;
                      background-color:#333;
                      padding:5px 0px 10px 0px;
                    }
            .nav-h1{
                    color:#c0bab6;
                    font-size:36px;
                     margin:0px;
                   }
            .nav-p{
                    color:#c0bab6;
                    font-size:13px;
                    margin:0px;
                 }
            .nav-gap{
                    width:80%;
                    margin:auto;
                 }
            .nav-table{
                   width:80%;
                   background-color:#232323;
                   margin:auto;

                 }
            .list-h4{
                   color:#c0bab6;
                   font-size:13px;
                   margin:0px;
                 }
    body
        table.nav-row
             tr
               td
                 table.nav-gap( cellpadding="10")
                       tr
                         td
                            h1.nav-h1. 
                                   Basic 90
                            p.nav-p.
                                Free HTML5 Website Template
                       tr
                        td.nav-table
                          table(cellspacing="8")
                            tr
                             td
                               h4.list-h4. 
                                      TEXT LINK
                             td 
                              h4.list-h4. 
                                      TEXT LINK
                             td 
                              h4.list-h4. 
                                      TEXT LINK
                             td 
                              h4.list-h4. 
                                      TEXT LINK
                             td 
                              h4.list-h4. 
                                      TEXT LINK        
               